//цвета
$clr-txt: #262626;
$clr-grey: rgba(38, 38, 38, .5);
$clr-main: #FF8A00;
$clr-main-hover: #FFB800;
$clr-placeholder: #262626;
$clr-input: #262626;
$clr-blue: #412AD1;
$clr-blue-hover: #1900B3;
$clr-red: #EB5757;

//шрифты
$font-main: 'Nunito', sans-serif;

//бордер
$brd: 1px solid $clr-grey;
