.accordion{
  &__item{
    margin-bottom: 30px;
    border: 1px solid rgba(255, 138, 0, 0.5);
    border-radius: 10px;
    position: relative;
    font-size: 20px;
    line-height: 118.5%;
    &:after{
      content: '';
      display: block;
      width: 18px;
      height: 8px;
      position: absolute;
      right: 40px;
      top: 50%;
      margin-top: -4px;
      background: url(../img/svg/chevrone-drop-down_black.svg) center center no-repeat;
    }
    &.open{
      &:after{transform: rotate(180deg);}
    }
  }
  &__title{
    cursor: pointer;
    padding: 23px 109px 23px 47px;
  }
  &__main{
    padding: 0 109px 40px 47px;
    display: none;
  }
  @media only screen and (max-width : 767px){
    &__item{
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 131.5%;
      &:after{right: 20px;}
    }
    &__title{
      cursor: pointer;
      padding: 20px 89px 20px 20px;
    }
    &__main{
      padding: 0 89px 20px 20px;
      display: none;
    }
  }
}