.sort{
  @include flex-center-between;
  margin-bottom: 34px;
  &__left, &__list{@include flex-center-between;}
  &__list{
    li{
      margin-left: 36px;
      a{
        color: $clr-txt;
        text-decoration: underline;
        white-space: nowrap;
        &:hover,&.active{color: $clr-grey;}
      }
    }    
  }
  &__title{
    color: rgba(38, 38, 38, .5);
    margin-right: 24px;
  }
  &_mob{
    .popup__header{display: none;}
  } 
  @media only screen and (max-width : 1199px){
    &__left, &__list{@include flex-center-start;}
    &__list{
      li{
        margin-left: 20px;
        a{font-size: 14px;}
      }    
    }
    &__title{margin-right: 15px;}
  }
  @media only screen and (max-width : 1023px){
    flex-wrap: wrap;
    align-content: flex-start;    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    transform: translateY(-110%);
    transition: transform .25s linear;
    .sec__title_left{margin-bottom: 0;}
    &.open{
      transform: translateY(0);
    }
    &_mob{
      position: fixed;
      z-index: 999;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
      .popup__header{
        display: block;
        position: relative;
      }
      .sort__left{
        padding: 0 20px;
        margin-bottom: 40px;
        margin-bottom: 0;
      }
      .sort__list{
        padding: 0 20px;
      }
    }   
  }
  @media only screen and (max-width : 767px){
    .sort__left{
      margin: 30px 0;
      width: 100%;
    }
    .sort__title{display: none;}
    .form__select-wrap_no-title{width: 100%;}
    .sort__list{
      display: block;
      li{
        margin-bottom: 20px;
        a{
          font-size: 18px;
          line-height: 118.5%;
        }
      }
    }
  }
}