extends ../layout/layout

block header
  include ../global_modules/header-dark.html
block main
  .page
    .catalog
      .container
        h1.sec__title Общий английский
          a.sec__title-info(href="#") i
        include ../modules/catalog-mob.html
        .catalog__wrap
          section.catalog__bar
            include ../modules/search-filter.html
            include ../modules/bar-visa.html
            include ../modules/bar-txt.html
          .catalog__main
            include ../modules/sort.html
            .catalog__list
              include ../modules/school-item.html
              include ../modules/school-item.html
              button.btn.btn_orange.sec__btn Показать еще
            include ../modules/catalog-seo.html