extends ../layout/layout

block header
  include ../global_modules/header-white.html
block main
  include ../modules/main-sec.html
  include ../modules/pop-courses-sec.html
  include ../modules/steps-sec.html
  include ../modules/reviews-sec.html
  include ../modules/advantages-sec.html
  include ../modules/seo-sec.html