extends ../layout/layout

block header
  include ../global_modules/header-dark.html
block main
  .page
    .container
      h1.sec__title Новости / Онлайн образование / Акции / Спецпредложения от партнеров / Клубная программа / Рекомендуемые школы и курсы
      include ../modules/list.html